<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--每一个Dao都会对应这么一个mapper.xml文件  映射文件-->
<mapper namespace="cn.dy.dao.UserDao" >

<!--登录-->
<select id="login" resultType="Admin">
       select * from admin where username=#{username} and password=#{password}
   </select>
</mapper>